.card {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  margin-bottom: 12px;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
}

.whiteBg {
  background-color: #eeeeee;
  color: #333333;
}

.orangeBg {
  background-color: #f7a659;
  color: white;
}

.blueBg {
  background-color: #5560b7;
  color: white;
}

.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.temperature {
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  line-height: 1.4;
}

.rightSection {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 12px;
  width: 50%;
}

.detailRows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 13px;
}

.row {
  display: flex;
  flex-direction: column;
}

.label {
  opacity: 0.7;
  margin-bottom: 2px;
}

.value {
  font-weight: bold;
}

.timeForecast {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
  width: 100%;
}

.timeItem {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

.time {
  opacity: 0.7;
}

.activeTime .time {
  opacity: 1;
  font-weight: bold;
}

.activeTime .forecastTemp {
  font-weight: bold;
}
