.card {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

.lightGrayBg {
  background-color: #7d7d7d;
  color: white;
}

.darkGrayBg {
  background-color: #555555;
  color: white;
}

.orangeBg {
  background-color: #f7a659;
  color: white;
}

.blueBg {
  background-color: #5560b7;
  color: white;
}

.topSection {
  font-size: 11px;
  font-weight: 500;
}

.middleSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 1.3;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 11px;
  padding-top: 10px;
}

.detailItem {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.value {
  font-weight: 700;
  margin-bottom: 2px;
}

.label {
  opacity: 0.7;
}
