.weatherCard {
  width: 90%;
  margin: auto;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.weatherInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.temp {
  font-size: 48px;
  font-weight: bold;
  color: #333;
}

.details {
  text-align: right;
  font-size: 14px;
}

.wind,
.humidity,
.rain {
  margin-bottom: 5px;
}

.hourly {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.time {
  font-size: 16px;
  color: #666;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.location {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.date {
  font-size: 12px;
  color: #888;
}
